@page
@model HotelWebApp.Pages.RoomSearchModel
@{
    ViewData["Title"] = "RoomSearch";
}

<h1>Room Search</h1>

<form method="post">
    <div class="form-gruop">
        <label asp-for="@Model.StartDate"></label>
        <input  asp-for="@Model.StartDate" />
    </div>
    <div class="form-gruop">
        <label asp-for="@Model.EndDate"></label>
        <input asp-for="@Model.EndDate" />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<br/>
@if (Model.AvailableRoomTypes?.Count > 0)
{
    <h2>Results</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Room Type</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var room in Model.AvailableRoomTypes)
            {
                <tr>
                    <td>
                        <strong>@room.Title</strong><br/>
                        @room.Description
                    </td>
                    <td>
                        @string.Format("{0:C}", room.Price)
                    </td>
                    <td><a href="">Book now</a></td>
                </tr>
            }
        </tbody>
    </table>
    
}
